
<% @recipe.each do |item| %>
  <h2><%= item["label"] %></h2>
  <%= image_tag(item["image"], class: 'image') %>
  <h3><%= link_to "View the original recipe here", item["url"], alt: "External link to original recipe which opens in a new tab", target: "_blank" %></h3>

  <h3>Ingredients:</h3>
  <% item["ingredientLines"].each do |ingredient| %>
    <h5><%= ingredient %></h5>
  <% end %>

  <h3>Diet Labels:</h3>
  <% item["dietLabels"].each do |label| %>
    <h5><%= label %></h5>
  <% end %>

  <h3>Health Labels:</h3>
  <% item["healthLabels"].each do |label| %>
    <h5><%= label %></h5>
  <% end %>

<% end %>
